.login-container {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .bclogo {
    margin-bottom: 20px;
  }
  
  .login-main {
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 60%;
  }
  
  .login-main h2 {
    margin-bottom: 20px;
    color: #6d0000;
    padding-bottom: 2%;
  }
  
  .button {
    display: block;
    background-color: #fff;
    color: #6d0000;
    text-align: center;
    margin: 10px auto;
    padding: 15px 20px;
    border-radius: 5px;
    text-decoration: none;
    width: 200px;
    transition:
      background-color 0.3s,
      color 0.3s;
  }
  
  .student-button:hover {
    background-color: #6d0000;
    color: #fff;
  }
  
  .admin-button:hover {
    background-color: #6d0000;
    color: #fff;
  }
  