.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 4rem;
}

.hero-img {
  max-width: 30%;
}

.login-container {
  display: flex;
  padding: 2% 0;
}

.login-container button {
  padding: 3.5% 0;
  width: 12rem;
  background-color: rgb(30, 48, 80);
}

.login-container button:first-child {
  margin-right: 1%;
}

.login-container button a {
  font-weight: 600;
  color: #ffffff;
}
